.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    height: 6em;
}

.accordion-item-content,
.accordion:hover .accordion-item-content {
    height: 0;
    overflow: hidden;
    transition: height .25s;

}

.accordion {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.accordion .accordion-item {
  color: #121212;
}

.accordion h1 {
  margin: 0;
}