@font-face {
  font-family: 'Hubot Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
      url('../fonts/hubot-sans/HubotSans-Regular.woff2') format('woff2'),
      url('../fonts/hubot-sans/HubotSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Hubot Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
      url('../fonts/hubot-sans/HubotSans-Medium.woff2') format('woff2'),
      url('../fonts/hubot-sans/HubotSans-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Hubot Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
      url('../fonts/hubot-sans/HubotSans-SemiBold.woff2') format('woff2'),
      url('../fonts/hubot-sans/HubotSans-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Hubot Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
      url('../fonts/hubot-sans/HubotSans-Bold.woff2') format('woff2'),
      url('../fonts/hubot-sans/HubotSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Hubot Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
      url('../fonts/hubot-sans/HubotSansCondensed-Regular.woff2') format('woff2'),
      url('../fonts/hubot-sans/HubotSansCondensed-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Hubot Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
      url('../fonts/hubot-sans/HubotSansCondensed-Bold.woff2') format('woff2'),
      url('../fonts/hubot-sans/HubotSansCondensed-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Neo Haas';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
      url('../fonts/neo-haas/NHaasGroteskTXPro-55Rg.woff2') format('woff2'),
      url('../fonts/neo-haas/NHaasGroteskTXPro-55Rg.woff') format('woff');
}

@font-face {
  font-family: 'Panchang';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
      url('../fonts/panchang/Panchang-Regular.woff2') format('woff2'),
      url('../fonts/panchang/Panchang-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Panchang';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
      url('../fonts/panchang/Panchang-Medium.woff2') format('woff2'),
      url('../fonts/panchang/Panchang-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Panchang';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
      url('../fonts/panchang/Panchang-Semibold.woff2') format('woff2'),
      url('../fonts/panchang/Panchang-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'Panchang';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
      url('../fonts/panchang/Panchang-Bold.woff2') format('woff2'),
      url('../fonts/panchang/Panchang-Bold.woff') format('woff');
}



