$color-black: #1A1A1A;
$color-black-text: #121212;
$color-black-lighter: #2A2A2A;
$color-black-dark: #151515;
$color-black-light: #414141;
$color-grey: #D0D0D0;
$color-grey2: #B8B8B8;
$color-grey3: #A0A0A0;
$color-grey4: #898989;
$color-dark-line: #383838;
$color-white-cream: #F5F5F5;
@mixin fz($px) {
  font-size: calc($px / 16)*1rem;
}
@mixin lh($px) {
  line-height: calc($px / 16)*1rem;
}
