@import 'vars';

main {
  background-color: #fff; 
  background: none;
}

.circle-arrow-btn img {
  cursor: pointer;
  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: .7;
  }
}

// HERO_SEC
#services-page {
  #hero-sec {
    margin-bottom: 0;
    .container  {
      h1 {
        margin-bottom: 355px;
      }
      p {
        width: 50%;
      }
    }
  }
}
// #HERO_SEC

// SERVICES_SEC
#services-sec {
  margin-bottom: 100px;
  .container {
    .services-wrap {
      display: flex;
      gap: 0;
      .left-col {
        border-right: 1px solid $color-grey;
        width: 50%;
      }
      .right-col {
        width: 50%;
        .services-item-title {
          padding-left: 40px;
        }
      }
      .services-item-title {
        padding: 54px 0 40px;
        border-bottom: 1px solid $color-grey;
      }
      .services-item {
        border-bottom: 1px solid $color-grey;
        padding: 60px 40px 60px 0;
        .wrap-text-arrow {
          display: flex;
          gap: 70px;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
.services-item {
  padding-left: 40px;
  &:hover {
    .wrap-number-text .number, .wrap-number-text .text, {
      color: #bfd442;
    }
    .arrow-btn {
      svg path {
        fill: #bfd442;
      }
    }
  }
}
.services-subtitle {
  @include fz(16);
  @include lh(24);
  color: $color-black-text;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 1;
  letter-spacing: -1px;
}
.wrap-number-text {
  display: flex;
  gap: 38px;
  align-items: center;
  .number {
    @include fz(20);
    @include lh(30);
    color: $color-black-text;
    opacity: 0.6;
  }
  .text {
    color: $color-black-text;
    font-family: 'Panchang', sans-serif;
    @include fz(32);
    @include lh(36);
    font-weight: 700;
    letter-spacing: -0.32px;
    text-transform: uppercase;
  }
}
.big-img-wrap {
  min-height: 400px;
}
// #SERVICES_SEC

// FUNDING_SEC
#funding {
  margin-bottom: 118px;
  .h2 {
    margin-bottom: 80px;
    width: 80%;
  }
  .wrap-funding {
    display: flex;
    .empty-col {
      border-right: 1px solid $color-grey;
      width: 712px;
    }
    .right-col {
      padding-left: 40px; 
      .text-block {
        padding-bottom: 18px;
        border-bottom: 1px solid $color-grey;
        .text-medium {
          margin-left: 140px;
        }
      }
      .name-block {
        margin-bottom: 60px;
        .wrap-number-text {
          padding: 40px 0 46px 182px;
        }
      }
      .text-block2 {
        .text-medium {
          width: 90%;
          margin-bottom: 76px;
        }
        .circle-arrow-btn {
          margin-bottom: 52px;
          img {
            width: 120px;
            height: 120px;
          }
        }
      }
    }
  }
}
.szh-accordion__item-btn {
  padding: 0 20px;
}
.szh-accordion__item--expanded .szh-accordion__item-btn {
  background-color: $color-black-text;
  .wrap-number-text {
    .number, .text {
      color: #fff;
    }
  } 
}
.text-medium {
  @include fz(44);
  @include lh(56);
  letter-spacing: -0.44px;
  color: $color-black-text;
  margin-bottom: 76px;
  letter-spacing: -2.7px;
}
// #FUNDING_SEC
@media screen and (max-width: 1400px) { 
  .wrap-number-text .text {
    font-size: 1.6rem;
  }
  #services-sec .container .services-wrap .services-item .wrap-text-arrow {
    gap: 0;
  }
}
@media screen and (max-width: 1100px) {
  #services-page {
    #hero-sec {
      .container   {
        h1 {
          margin-bottom: 290px;
        }
        p {
          width: 64%;     
        }
      }
    }
  }
}
@media screen and (max-width: 860px) { 
  #service-details-page #service-descr-sec .wrap-service-details .right-col .number-text-block .text {
    font-size: 2.2rem;
    line-height: 3rem;
    margin-left: 0;
  }
  #service-details-page #service-descr-sec .wrap-service-details .right-col .text {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  #service-details-page #service-descr-sec .wrap-service-details .empty-col {
    display: none;
  }
  #service-details-page #service-descr-sec .wrap-service-details .right-col .text {
    margin-bottom: 0;
  }

  #funding .h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
  #funding .wrap-funding .right-col .text-block .text-medium, #funding .wrap-funding .right-col .text-block2 .text-medium {
    font-size: 2rem;
    line-height: 3rem;
  }
  #funding {
    margin-bottom: 0;
  }
  #services-sec .container .services-wrap {
    flex-wrap: wrap;
  }
  #services-sec .container .services-wrap .left-col {
    width: 100%;
  }
  #services-sec .container .services-wrap .right-col {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  #funding .wrap-funding .right-col {
    padding-left: 0;
  }
  #how-sec .block-text-under-pic .h2 {
    font-size: 2rem;
    width: 100%;
  }
  #service-details-page #service-descr-sec .wrap-service-details .right-col .number-text-block .text {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-left: 0;
    letter-spacing: -0.5px;
  }
  #service-details-page #service-descr-sec .wrap-service-details .right-col .text {
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: -0.5px;
    margin-bottom: 0;
  }
  #service-details-page #service-descr-sec .wrap-service-details .right-col {
    padding: 20px 0 20px 20px
  }
  #how-sec .big-img-wrap {
    margin-bottom: 20px;
  }
  #funding .wrap-funding .empty-col {
    display: none;
  }
  #funding .wrap-funding .right-col .name-block .wrap-number-text {
    padding: 30px 20px 30px 0;
  }
}
@media screen and (max-width: 560px) {
  #funding .h2 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    width: 100%;
  }
  #funding .wrap-funding .right-col .text-block .text-medium, #funding .wrap-funding .right-col .text-block2 .text-medium {
    margin-left: 0;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  #services-page {
    #hero-sec {
      .container   {
        h1 {
          margin-bottom: 390px;
        }
        p {
          width: 100%!important;
        }
      }
    }
  }
  .wrap-number-text .text {
    font-size: 1.4rem;
  }
  .circle-arrow-btn {
    img {
      width: 70px!important;
      height: 70px!important;
    }
  }
  #funding .wrap-funding .right-col .text-block .text-medium, #funding .wrap-funding .right-col .text-block2 .text-medium {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 460px) {
  .wrap-number-text .text {
    font-size: 1.2rem;
  }
  .wrap-number-text {
    gap: 20px;
  }
  #services-sec .container .services-wrap .services-item {
    padding: 30px;
  }
  #services-sec .container .services-wrap .right-col .services-item, #services-sec .container .services-wrap .services-item {
    padding-left: 10px;
  }
}

